/* ---- navigation bar css ---- */
nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100vw;
    margin: auto auto;
    padding: 15px 40px;
    background-color: var(--bg-dirty);
    border: var(--border);
    border-top: none;
}

/* ---- navigation bar logo ---- */
.logo label {
    display: flex;
}

.logo label a {
    color: var(--black);
}

.logo label {
    font-size: 32px;
    font-weight: 600;
}

/* ---- navigation bar buttons ---- */
.nav-actions {
    display: flex;
    justify-content: right;
    gap: 20px;
    transition: 500ms;
}

.nav-actions button {
    border: 0px solid transparent;
    background-color: transparent;
}

.nav-btn {
    position: relative;
    text-align: center;
}

.nav-actions button p {
    color: var(--text);
    font-size: 14px;
}

.nav-btn .icon {
    margin-inline: auto;
    font-size: 22px;
    margin-bottom: 5px;
    color: var(--text);
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 13px;
    font-weight: 600;
    border-radius: var(--big-radius);
}

@media (max-width: 700px) {
    header {
        background-color: var(--white);
    }

    nav {
        padding: 20px;
        justify-content: center;
    }

    .logo label a {
        text-align: center;
        /* font-size: 24px; */
    }

    .nav-actions {
        background-color: var(--bg-dirty);
        position: fixed;
        bottom: 0;
        left: 5vw;
        width: 90vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 5px;
        padding-block: 20px;
        box-shadow: 0 -2px 20px hsla(0, 0%, 0%, 0.1);
        z-index: 10;
        border: var(--border);
        border-color: var(--secondary);
        border-top-left-radius: var(--big-radius);
        border-top-right-radius: var(--big-radius);
    }
}