.category-title {
    text-transform: uppercase;
    margin-block: 20px;
}

.store {
    width: 90vw;
    margin: auto auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.store-item {
    height: min-content;
    background-color: var(--background);
    border-radius: var(--radius);
    margin-block: 20px;
    display: flex;
    justify-content: space-between;
}

.store-item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-light);
    min-width: 120px;
    width: 120px;
    height: 120px;
    border-radius: 6px;
    box-shadow: 0 -2px 20px hsla(0, 0%, 0%, 0.3);
}

.store-item-img img {
    min-width: 100px;
    height: 100px;
}

.store-item-text {
    padding: 10px 20px 10px 20px;
}

.store-item-title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.store-item-price {
    color: var(--secondary-dark);
    font-size: 20px;
}

.quantity {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 8px 8px;
    align-items: center;
    border-radius: var(--big-radius);
    overflow: hidden;
}

.minus, .plus, .qty {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: 30px;
    height: 30px;
}

.minus {
    background-color: var(--background);
    color: var(--text);
    cursor: pointer;
}

.plus {
    background-color: var(--text);
    color: var(--background);
    cursor: pointer;
}

.out-of-stock {
    font-weight: 600;
    padding: 5px 15px;
    margin-block: 10px 5px;
    width: fit-content;
    border-radius: var(--small-radius);
}

.yellow {
    background-color: var(--yellow);
}

.qty {
    font-size: 20px;
}

@media (max-width: 1100px) {
    .store-banner {
        width: 95vw;
    }

    .store {
        width: 95vw;
        gap: 10px;
    }
}

@media (max-width: 1100px) {
    .store {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 650px) {
    .store-banner-left .title {
        font-size: 36px;
    }

    .store-banner-img {
        width: 150px;
    }

    .store {
        grid-template-columns: repeat(1, 1fr);
    }

    .store-item {
        margin-block: 10px;
    }

    .store-item-text {
        padding: 10px;
    }
}

@media (max-width: 400px) {
    .store-banner {
        padding: 10px;
    }

    .store-banner-left .title {
        font-size: 24px;
    }

    .store-banner-img {
        width: 120px;
    }

    .store {
        gap: 10px;
    }

    .store-item-title {
        font-size: 18px;
    }

    .store-item-price {
        font-size: 16px;
    }
}

/* admin store */
.category {
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    background-color: var(--secondary-light);
    border: none;
    border-radius: 0px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.edit-category {
    justify-content: center;
    margin-block: 10px;
    gap: 10px;
}

.category .store-item-title {
    margin-bottom: 0px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    margin-block: 5px;
}

.item-name {
    width: 100%;
}

.item-amt {
    color: var(--secondary-dark);
    font-weight: 400;
    margin-right: 10px;
    font-size: 16px;
}

.item-btn {
    padding: 10px 20px;
    margin: 0px 5px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.item-btn-2 {
    padding: 8px 18px 6px 18px !important;
}

#delete {
    background-color: var(--error);
}

#edit {
    background-color: var(--secondary);
}

.add {
    justify-content: center;
    border: 1px var(--secondary-dark);
    background-color: var(--secondary);
    cursor: pointer;
    margin: 0px;
    transition: all 200ms ease;
}

.add:hover {
    background-color: var(--secondary-dark);
    border: 1px solid var(--text);
}